body {
	background: #eee;
}

body, button {
	font: 16px Arial, sans-serif;
	color: #333;
}

img  {
	border: none;
}

h1 {
    font-weight: normal;
	font-size: 3em;
	color: #666;
	padding: .4em 0;
	margin: 0em;
}

p {
	padding-bottom: 1em;
	margin: 0em;
	padding-left: 0em;
	padding-right: 0em;
}
p:last-child {
	padding-bottom: 0;
}

select {
	font-size: 1em;
	background: #E6FFFF;
	border: 1px solid #224F8A;
}

.container {
	background: #fff;
	width: 576px;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0em auto;
	border: 1px solid #888;
	border-bottom: none;
	position: relative;
}

.clone-on-github {
    background: #FFA500;
    border-radius: 1.5em;
    position: absolute;
    right: 2em;
    top: 2em;
}

.clone-on-github a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: .5em 1em .5em 1em;
    display: block;
}

.ctrlHolder {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin-left: -2em;
    margin-right: -2em;
    margin-bottom: -1px;
    padding: 2em;
}

label {
    display: block;
    margin-bottom: .5em;
}

textarea, .textInput {
    width: 100%;
    display: block;
	font: 1em Arial, sans-serif;
	border: 1px solid #224F8A;
	background: #E6FFFF;
	padding: .3em 0;
}

.licence {
	width: 576px;
	border: 1px solid #888;
	border-top: 0px none transparent;
	background: #E6FFFF;
	padding: 2em;
	margin: 0em auto;
}

.licence img {
	display: block;
	width: 88px;
	float: left;
	margin-right: 1em;
}